<header class="header">
	<div class="container">
		<div class="header__flex-container">
			<a href="/articles"><h1 class="header__logo">Lonely Corner</h1></a>
			<nav class="header__nav">
				<ul>
					<li class="header__nav-link">
						<a href="/articles">Articles</a>
					</li>
					<li class="header__nav-link header__nav-link--button">
						<a href="/articles/create">Create</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
