<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./../_head-tags.ejs") %>
		<title><%= title %> | Lonely Corner</title>
		<link rel="stylesheet" href="/css/create-and-edit.css" />
	</head>
	<body>
		<%- include("./../_header.ejs") %>
		<div class="edit-and-create-page create-page">
			<div class="container">
				<div class="form-container">
					<div class="white-form-background">
						<h1 class="form-container-title">Create Article</h1>
						<form class="form" action="/articles" method="POST">
							<%- include("./../_form-fields.ejs") %>
							<div class="button-container">
								<a class="cancel-btn" href="/articles">Cancel</a>
								<button class="submit-btn" type="submit">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
